<div class = "mx-auto" >
    <div data-controller="user-page" class="mb-5 mx-auto bg-white shadow-[0_-35px_60px_-20px] border-b-2 border-gray-300">
        <div class="p-3 grid border-solid border-b border-gray-600">
            <div class="justify-self-center flex gap-2 font-bold">
                <h3><%=@user.firstName%></h3>
                <h3><%=@user.lastName%></h3>
            </div>
            <% if @user.friends.any?%>
                <div class="justify-self-center font-bold text-gray-500 hover:underline" >
                    <%= @user.friends.count %>
                    <%if @user.friends.count > 1%>
                        <% string = "friends" %>
                    <% else %>
                        <% string = "friend" %>
                    <% end %>
                 <%= render 'link_to_friends', string: string%>
                </div>
            <% end %>
        </div>
        <div>
            <div class="p-4 font-bold text-gray-500 flex gap-8 justify-center">
                <%= link_to "Posts",
                            user_posts_path(params[:id]),
                            "data-action" => "user-page#replaceUserPageBody",
                            "data-user-page-frame-name-param" => "posts",
                            class: "btn btn--primary",
                            data: { turbo_frame: "posts" } %>
                <div>About</div>
                <%= render 'link_to_friends', string: "Friends"%>
                <%= render 'friend_requests'%>
            </div>
            <div data-user-page-target="userPageBody">
                <div data-user-page-target="userPageBodyContent"><%= render User.find(params[:id]).posts%></div>
            </div>
        </div>
    </div>
</div>
