<div data-controller="user-page" class = "mx-auto" >
    <div class="mb-5 mx-auto bg-white shadow-[0_-35px_60px_-20px] border-b-2 border-gray-300">
        <div class="p-3 grid border-solid border-b border-gray-600">
            <div class="justify-self-center flex g font-bold">
                <h3><%=@user.firstName%></h3>
                <h3><%=@user.lastName%></h3>
            </div>
            <% if @friends.any?%>
                <div class="justify-self-center font-bold text-gray-500 hover:underline select-none" >
                    <%if @friends.count > 1%>
                        <% string = "#{@friends.count} friends" %>
                    <% else %>
                        <% string = "1 friend" %>
                    <% end %>
                    <%= link_to string,
                                    user_friendships_path(@user),
                                    "data-user-page-frame-name-param" => "friendsSelector",
                                    "data-action" => "click->user-page#replaceUserPageBody",
                                    data: { turbo_frame: "friends" }%>
                </div>
            <% end %>
        </div>
        <div class="font-bold text-gray-500 flex justify-center">
            <div id="postsSelector" class="grid justify-stretch m-2 select-none cursor-pointer hover:bg-gray-200 border-b-2 border-solid border-blue-500 text-blue-500" data-user-page-frame-name-param = "postsSelector" data-action = "click->user-page#replaceUserPageBody">
                <%= render :partial => 'link_to_model', :locals => {string: "Posts", path: user_posts_path(@user)}%>
            </div>
            <div id="aboutSelector" class="grid justify-stretch m-2 select-none cursor-pointer hover:bg-gray-200" data-user-page-frame-name-param = "aboutSelector" data-action = "click->user-page#replaceUserPageBody">
                <div class = "p-2">About</div>
            </div>
            <div id="friendsSelector" class="grid justify-stretch m-2 select-none cursor-pointer hover:bg-gray-200" data-user-page-frame-name-param = "friendsSelector" data-action = "click->user-page#replaceUserPageBody">
                <%= render :partial => 'link_to_model', :locals => {string: "Friends", path: user_friendships_path(@user)}%>
            </div>
            <div id="friend_requestsSelector" class="grid justify-stretch m-2 select-none cursor-pointer hover:bg-gray-200" data-user-page-frame-name-param = "friend_requestsSelector" data-action = "click->user-page#replaceUserPageBody">
                <div class="p-2">Friend Requests</div>
            </div>
        </div>
    </div>
    <div>
        <div data-user-page-target="userPageBody">
            <div data-user-page-target="posts">
                 <div class="grid mb-4 bg-white">
                    <%= link_to "Whats on your mind?",
                                new_user_post_path(@user),
                                class: "btn btn--primary justify-self-center",
                                data: {turbo_frame: "new_post"}%>
                    <%= turbo_frame_tag "new_post" do %>
                    <% end %>
                </div>
                <%= turbo_stream.prepend "posts" do %>
                    <%= render @user.posts.order(created_at: :desc)%>
                <% end %>
                <%= turbo_frame_tag "posts" do %>
                <% end %>
            </div>
            <div data-user-page-target="about" hidden="">
                text2
            </div>
            <div data-user-page-target="friends" hidden="">
                <div class = "grid bg-white rounded-md">
                    <div class="p-4">
                        <div class="font-bold">
                            <h1>Friends</h1>
                        </div>
                        <div>
                            <%= turbo_frame_tag "friends" do%>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div data-user-page-target="friend_requests" hidden="">
                text4
            </div>
        </div>
    </div>
</div>
