<div class=" p-3 grid bg-gray-400">
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="grid gap-5">
      <div class="field">
        <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, placeholder: "Password" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
