<%= turbo_frame_tag post do%>
    <div class="grid bg-white rounded-md p-4 max-w-md mb-4">
        <div class = "grid row-start-1">
            <%="#{post.creator.firstName} #{post.creator.lastName}"%>
        </div>
        <div class="col-start-2 justify-self-end">
             <li class="list-disc"><%="#{post.created_at.day.ordinalize} #{post.created_at.strftime("%B")} at #{post.created_at.strftime("%H:%M")}"%></li>
        </div>
        <div class = "col-start-1 col-end-3 break-all pt-2 pb-2">
            <p>
                <%= post.body %>
            </p>
         </div>
        <% if post.creator == current_user %>
            <div class="justify-self-end row-start-3 col-start-2">
                <%= render 'posts/post_owner_options', post: post%>
            </div>
        <% end %>
    </div>
<% end %>
